<div class="card">
  <div class="card-header">
    <h5 class="mb-0">New Recipe</h5>
  </div>
  <div class="card-body">
    <form action="/recipes" method="POST">
      <%- include('../partials/recipe-form', { 
        recipe: recipe, 
        categories: categories, 
        errors: errors || {}, 
        cancelUrl: '/recipes' 
      }) %>
    </form>
  </div>
</div>
