<div class="alert alert-danger">
    <h4 class="alert-heading">Error</h4>
    <p><%= error %></p>
    <hr>
    <a href="javascript:history.back()" class="btn btn-outline-secondary">Go Back</a>
</div>
